{{{render-bootstrap-config}}}
{{{render-javascript-tags 'footer'}}}
{{{render-client-component-templates}}}

<div class="social-links-area text-center">{{we-menu menuSocial class="list-inline icon-style-1"}}
</div>

<footer>
  <div class="container">
    <div class="row text-left">
      <div class="col-md-6">
        <div class="footer-item-1">
          <ul class="list-inline footer-left-menu">
            <li><a href="/terms-of-use">Termos de uso</a></li>
            <li><a href="/site-contact">Contato</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 footer-logos text-right">
        <a href="http://rededeescolas.ensp.fiocruz.br/" target="_blank"><img src="/public/project/logo-redescola.png" alt="Rede de escolas" /></a>
{{!--         <a href="http://www.ensp.fiocruz.br/" target="_blank"><img src="/public/project/ensp-logo.png" alt="Escola Nacional de Saúde Pública Sérgio Arouca" /></a>
        <a href="http://www.fiocruz.br/" target="_blank"><img src="/public/project/fiocruz-logo.png" alt="Fundação Oswaldo Cruz" /></a> --}}
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-6 col-md-offset-3 text-center">
        <hr>
        <p>{{{req.we.systemSettings.siteFooter}}}<p>
      </div>
    </div>
    <br>
  </div>
</footer>