{{{template 'partials/header-topbar'}}}
<nav id="mainNav" class="navbar navbar-default {{#if req.we.systemSettings.logoUrl}}with-site-logo{{/if}}">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
        <span class="sr-only">Toggle navigation</span> <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="/">
        {{#if req.we.systemSettings.logoUrl}}
          <img src="{{req.we.systemSettings.logoUrl}}"
               alt="Logo" >
        {{else}}
          <img src="/public/project/logo.png" alt="Logo" >
        {{/if}}
        {{#if req.we.systemSettings.siteName}}
          <span class="site-name sr-only">{{req.we.systemSettings.siteName}}</span>
        {{/if}}
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbar1">
      {{we-menu menuMain class="nav navbar-nav navbar-right"}}
    </div>
  </div>
</nav>