{{!-- <ol class="breadcrumb">
  <li><a href="/">Início</a></li>
  <li class="active">Histórias</li>
</ol>
 --}}
<div class="loader"></div>

<div class="history-findAll">
  <div class="history-findAll-header">
    <h2 class="hfah-title">Vivências que viram histórias.
      <br>{{metadata.completeCount}} histórias que inspiram.</h2>
    <div class="history-search">
      <form class="form-inline">
        <div class="input-group input-group-lg">
          <input type="text" name="q" class="form-control" placeholder="Procure uma história" value="{{req.query.q}}">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <span class="glyphicon glyphicon-search"></span>
          </button>
          </span>
        </div>
      </form>
    </div>
  </div>

  <div class="row dynamic-grid">
    {{#each data}}
      <div class="d-col col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xg-4">
        {{render-record-teaser modelName='history' record=this locals=..}}
      </div>
    {{else}}
      <div class="col-md-12">
        Não foi possível encontrar histórias para a lista.
      </div>
    {{/each}}
  </div>
  <div class="clearfix">
    {{paginate count=metadata.count limit=query.limit currentPage=query.page req=req}}
  </div>
</div>
<script>
$(window).load(function() {
  $('.dynamic-grid').masonry({
    // set itemSelector so .grid-sizer is not used in layout
    itemSelector: '.d-col',
    // use element for option
    columnWidth: '.d-col',
    percentPosition: true
  });

  $('.loader').fadeOut('slow');
});
</script>
