<div class="panel panel-default">
  {{#if record.featuredImage}}
    {{#link-to-record record=record}}
      {{we-image record.featuredImage "large" width="100%"}}
    {{/link-to-record}}
  {{/if}}
  <div class="panel-body">
    {{#link-to-record record=record}}
      <h2 class="ht-title">
        {{record.title}} {{#unless record.published}} <small><span class="label label-warning">Despublicado</span></small> {{/unless}}
      </h2>
    {{/link-to-record}}
    <p class="ht-subtitle">{{record.about}}</p>

    {{#if record.creator}}
      <div class="ht-creator">
        <a href="{{record.creator.permanentLink}}">
          {{we-avatar id=record.creator.id style="thumbnail" class="ht-creator-avatar img-thumbnail"}}
          <h6 class="ht-creator-displayName">{{record.creator.displayName}}</h6>
          {{#if record.creator.locationText}}
            <span class="ht-creator-location">{{record.creator.locationText}}</span>
          {{/if}}
        </a>
      </div>
    {{else}}
      <div class="ht-creator">
        {{we-avatar id=0 style="thumbnail" class="ht-creator-avatar img-thumbnail"}}
        <h6 class="ht-creator-displayName">{{record.creator.displayName}}</h6>
        {{#if record.creator.locationText}}
          <span class="ht-creator-location">{{record.creator.locationText}}</span>
        {{/if}}
      </div>
      Anonimous ...
    {{/if}}
  </div>
</div>